<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Blog | EditArticles</title>
        <!-- ==========Favicon========== -->
        <link th:href="@{/assets/commons/favicon.ico}" rel="icon" />
        <!-- ==========CSS========== -->
        <link rel="stylesheet" th:href="@{/assets/Editor/examples/css/style.css}" />
        <link rel="stylesheet" th:href="@{/assets/Editor/css/editormd.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/assets/sweetalert-1.x/sweetalert.css}"/>
        <link th:href="@{/assets/bootstrap-4.5-dist/css/bootstrap.css}" rel="stylesheet">
        <link th:href="@{/assets/dashboard/dashboard.css}" rel="stylesheet">
    </head>

    <body>
        <!-- 顶部导航栏通用模块 -->
        <div th:replace="admin/fragments/admin-frags::navbar"></div>

        <div class="container-fluid">
            <div class="row">
                <!-- 左侧导航栏通用模块 -->
                <div th:replace="admin/fragments/admin-frags::sidebar(activeUri='editArticles.html')"></div>

                <!-- 主要内容模块 -->
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h1 class="h2">文章编辑</h1>
                        <div class="btn-toolbar mb-2 mb-md-0">
                            <div class="btn-group mr-2">
                                <button type="button" class="btn btn-sm btn-outline-secondary" onclick="editArticles.doSave();">存为草稿</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary" onclick="editArticles.doSubmit();">立即发布</button>
                            </div>
                        </div>
                    </div>

                    <!-- ==========Editor.md========== -->
                    <div>
                        <div id="layout">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">标题</span>
                                </div>
                                <input id="title" type="text" class="form-control" placeholder="输入您的文章标题!!">
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">描述</span>
                                </div>
                                <textarea id="description" class="form-control" placeholder="输入您对文章的简短描述!!"></textarea>
                            </div>

                            <header>
                                <!--<h1>Simple example</h1>-->
                                <!--<h1>&nbsp;</h1>-->
                            </header>
                            <div id="test-editormd">
                        <textarea id="content" style="display:none;">
[TOCM]

[TOC]
#请开始编辑文章吧...
</textarea>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>

        <!-- ==========JS========== -->
        <!-- ==========JS========== -->
        <script th:src="@{/assets/jquery-3.5.1/jquery-3.5.1.js}"></script>
        <script th:src="@{/assets/sweetalert-1.x/sweetalert.min.js}"></script>
        <script th:src="@{/assets/jquery-serializejson/jquery.serializejson.js}"></script>
        <script th:src="@{/assets/bootstrap-4.5-dist/js/bootstrap.js}"></script>
        <script th:src="@{/assets/commons/js/feather-4.9.0.min.js}"></script>
        <script th:src="@{/assets/commons/js/Chart-2.7.3.min.js}"></script>
        <script th:src="@{/assets/dashboard/dashboard.js}"></script>

        <!-- Editor -->
        <script th:src="@{/assets/Editor/examples/js/jquery.min.js}"></script>
        <script th:src="@{/assets/Editor/editormd.js}"></script>
        <script type="text/javascript">
            var testEditor;

            $(function() {
                testEditor = editormd("test-editormd", {
                    width   : "100%",
                    height  : 680,
                    syncScrolling : "single",
                    path    : "/assets/Editor/lib/",
                    theme : "dark",
                    previewTheme : "dark",
                    editorTheme : "pastel-on-dark",
                    //markdown : md,
                    codeFold : true,
                    //syncScrolling : false,
                    saveHTMLToTextarea : true,    // 保存 HTML 到 Textarea
                    searchReplace : true,
                    //watch : false,                // 关闭实时预览
                    htmlDecode : "style,script,iframe|on*",            // 开启 HTML 标签解析，为了安全性，默认不开启
                    //toolbar  : false,             //关闭工具栏
                    //previewCodeHighlight : false, // 关闭预览 HTML 的代码块高亮，默认开启
                    emoji : true,
                    taskList : true,
                    tocm            : true,         // Using [TOCM]
                    tex : true,                   // 开启科学公式TeX语言支持，默认关闭
                    flowChart : true,             // 开启流程图支持，默认关闭
                    sequenceDiagram : true,       // 开启时序/序列图支持，默认关闭,
                    //dialogLockScreen : false,   // 设置弹出层对话框不锁屏，全局通用，默认为true
                    //dialogShowMask : false,     // 设置弹出层对话框显示透明遮罩层，全局通用，默认为true
                    //dialogDraggable : false,    // 设置弹出层对话框不可拖动，全局通用，默认为true
                    //dialogMaskOpacity : 0.4,    // 设置透明遮罩层的透明度，全局通用，默认值为0.1
                    //dialogMaskBgColor : "#000", // 设置透明遮罩层的背景颜色，全局通用，默认为#fff
                    imageUpload : true,
                    imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                    imageUploadURL : "/article/img-upload",
                    onload : function() {
                        //图片上传后可以做一些事情
                        console.log('onload', this);
                        //this.fullscreen();
                        //this.unwatch();
                        //this.watch().fullscreen();

                        //this.setMarkdown("#PHP");
                        //this.width("100%");
                        //this.height(480);
                        //this.resize("100%", 640);

                    }
                });
            });

            //TODO: 保存草稿
            <!-- 发布文章|存为草稿 -->
            let editArticles = {
                //立即发布
                doSubmit: function () {
                    if (editArticles.doCheck()) {
                        let title = $("#title").val();
                        let description = $("#description").val();
                        let content = $("#content").val();
                        $.ajax({
                            type: "POST",
                            url: "/article/publish",
                            //注意：title、description、content都是对象，要使用JSON.stringify转为JSON字符串；
                            data: JSON.stringify({'title': title, 'description': description, 'content': content}),
                            dataType: "json",
                            contentType: "application/json",
                            success: function (result) {
                                if (result.code === 200 && result.message === "Success") {
                                    swal("提示 !!", "您的文章已发布 !!", "success");
                                    swal({
                                            title: "提示 !!",
                                            text: "您的文章已发布 !!",
                                            type: "success",
                                            button: true
                                        },
                                        function(value){
                                            if (value) {
                                                //TODO: 清除输入框
                                            }
                                        });
                                } else {
                                    sweetAlert("提示", result.message + " !!", "error");
                                }
                            }
                        });
                    }
                },

                //保存草稿
                doSave: function() {
                    sweetAlert("提示", "保存草稿功能暂未开放，敬请期待 !!", "warning");
                    return false;
                },

                //参数校验
                doCheck: function() {
                    let title = $("#title").val();
                    let description = $("#description").val();
                    let content = $("#content").val();
                    if (typeof(title) == undefined || title == null || title == "" ) {
                        sweetAlert("警告","请填写文章标题!!", "error");
                        return false;
                    }
                    if (typeof(description) == undefined || description == null || description == "" ) {
                        sweetAlert("警告","请填写文章描述!!", "error");
                        return false;
                    }
                    if(typeof (content) == undefined || content == null || content == "") {
                        sweetAlert("警告","请填写文章内容!!", "error");
                        return false;
                    }
                    return true;
                }
            }

        </script>

    </body>
</html>
